node_modules/
out/
build/
dist/
dist2/
mock-data/
*.js.map
*.d.ts
!src/**/*.d.ts
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Electron-vite temp build artifacts
electron.vite.config.*.mjs

# Env
.env
.env.*
